.c1{
     border:2px solid black;
     width:150px;
     height:150px;
     background-color: aquamarine;
}

#main
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.c2
{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
*
{
    margin: 0px;
    padding:0px;
}
